{% extends 'base_dashboard.html.twig' %}
{% block title %}New Person{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0 text_color_default">Add New Person</h5>
                <nav class="breadcrumb-nav">
                    <a href="{{ path('app_dashboard') }}">Home</a>
                    <i class="bi bi-chevron-right mx-2"></i>
                    <a href="{{ path('app_vpeople_index') }}">People</a>
                    <i class="bi bi-chevron-right mx-2"></i>
                    <span>Add New Person</span>
                </nav>
            </div>
        </div>
    </div>

    {{ include('vpeople/_form.html.twig') }}
{% endblock %}
