{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Vcontact{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0 text_color_default">
                    <i class="bi bi-envelope-paper me-2"></i>
                    Edit Contact Details
                </h5>
            </div>
        </div>
    </div>

    {{ include('vcontact/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
