{% for floatingno in floatingno %}
    {% if(floatingno.phone1) %}
        <div class="call_btn">
            <a href="tel:{{ floatingno.phone1 }}"><i class="fa fa-phone-alt"></i> </a>
        </div>
    {% endif %}
{% endfor %}


