{% extends 'base_dashboard.html.twig' %}

{% block title %}New Vcontact{% endblock %}

{% block body %}
    <h5>Create new Vcontact</h5>

    {{ include('vcontact/_form.html.twig') }}

    <a href="{{ path('app_vcontact_index') }}">back to list</a>
{% endblock %}
