{% for topcon in toptactdetails %}
    {% if(topcon.phone1) %}
        <a href="tel:{{ topcon.phone1 }}" class="me-4">
            <i class="bi bi-telephone"></i>
            +91 {{ topcon.phone1 }}
        </a>
        <a href="mailto:{{ topcon.email1 }}">
            <i class="bi bi-envelope"></i>
            {{ topcon.email1 }}
        </a>
    {% endif %}
{% endfor %}
