{% extends 'base_dashboard.html.twig' %}

{% block title %}Create About Page{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h5><i class="bi bi-plus-circle"></i> Create About Page</h5>
            <a href="{{ path('app_vabout_index') }}" class="btn btn-light-secondary">
                <i class="bi bi-arrow-left"></i> Back to Dashboard
            </a>
        </div>

        <div class="alert alert-info">
            <i class="bi bi-info-circle"></i>
            <strong>Note:</strong> This will create your website's about page. You can only have one about page, which you can edit anytime.
        </div>

        {{ include('vabout/_form.html.twig') }}
    </div>
{% endblock %}
